#top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(192, 192, 192);
    border-color: rgb(192, 192, 192);
    border-width: 0 0 0.1em 0;
    border-style: solid;
}

#top-left-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
}

#top-title {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 5%;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

#top-title-text {
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #030924;
    font-size: 20px;
}

#top-right-icon {
    position: absolute;
    top: 0;
    left: 95%;
    width: 5%;
    height: 100%;
}

.article {
    position: relative;
    text-align: left;
    top: 5%;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    background-color: white;
}

.article-content {
    font-family: Lobster, serif;
    font-size: 20px;
    color: black;
}

.article-date {
    position: relative;
    bottom: 1em;
    font-size: 1em;
    color: #515151;
}
.article-footer {
    margin-top: 2em;
}
.article-footer  a{
    text-decoration: none;
    font-family: Lobster, serif;
    font-size: 20px;
    font-style: italic;
    color: #fa8072;
}
#head-icon {
    border-color: white;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
}

h3 {
    position: relative;
    margin: 0;
}

h6 {
    position: relative;
    top: 2em;
}

.icon {
    height: 100%;
}

